.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#event-div {
  text-align: center;
  width: 40%;
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 1px 20px 1px;
  margin: 5em 2em 0em 2em;
  padding: 3em 0em 3em 0em;
}

#event-form {
  display: inline-block;
}

.table-column > span {
  padding-left: 2em;
}

.table-column > h3 {
  padding-left: 1.5em;
}

.nav-link {
  padding-top: .5em;
  padding-bottom: .5em
}

.login-page {
  height: 100vh;
  opacity: .6;
  background-image: url('https://images.unsplash.com/photo-1493225457124-a3eb161ffa5f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fda6fe0f7735e059acb12100dcaf0162&auto=format&fit=crop&w=1500&q=80');
}

.login-page > span > h1 {
  font-size: 40pt;
}

.landing-page {
  height: 100vh;
  opacity: .6;
  background-image: url('https://images.unsplash.com/photo-1516450360452-9312f5e86fc7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5b811266a4cf56733a98b08047ffe3ed&auto=format&fit=crop&w=1500&q=80');
}

#landing-span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#landing-span > h1 {
  font-size: 50pt;
}

#search-bar {
  border-radius: 15em;
  font-size: 12pt;
  padding: .25em 0 .25em 1em;
}
